.paginaMenu{
    text-align: center;
    background-color: rgb(185, 114, 27);
}

button{
    font-family: 'Times New Roman', Times, serif;
    font-style:italic;
    color: black;
    font-size: 20px;
}




.cap1{
    background-color: rgb(174, 221, 205);

}



.introducao{
    background-color: rgb(209, 177, 134);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    border-style: outset;
    border-width: thick;

}

.objetivo{

}

.elementos{


}

.estrategias e metodologias{


}

.ferramentas empregadas{

}

.metricas{

}

.produtos{

}

.conclusao{

}